<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Uniform">
   <test name = "Uniform Admin Login">
      <classes>
         <class name = "com.training.sanity.tests.Login" />
      </classes>
   </test>
   <test name = "Delete Returned Product">
       <classes>
         <class name = "com.training.functional.tests.DeleteReturnedProducts" />
      </classes>
   </test>
</suite>	